<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="title" type="java.lang.String"*/-->
    <title th:text="'XNAT ELK: ' + ${title} ?: 'Default'">XNAT ELK: Dunno</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<!--/*@thymesVar id="logging" type="org.nrg.xnat.logging.elk.app.data.Logging"*/-->
<body>
<div th:object="${logging}">
    <p>Hello, there! I found this: <strong>[<span th:text="*{id}"/>]</strong> <span th:text="*{statement} ?: '(no statement specified)'"/></p>
</div>
<form action="#" th:action="@{/logging}" th:object="${logging}" method="post">
    <p><label th:for="logging-id">Id:</label> <input id="logging-id" type="text" th:field="*{id}" /></p>
    <p><label th:for="logging-statement">Message:</label> <input id="logging-statement" type="text" th:field="*{statement}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>
